In [19]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time

# Import API key
from config import *

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
travel_2013 = "Resources/403043874_T_T100I_MARKET_US_CARRIER_ONLY_2013_All.csv"
travel_2014 = "Resources/403043874_T_T100I_MARKET_US_CARRIER_ONLY_2014_All.csv"
travel_2015 = "Resources/403043874_T_T100I_MARKET_US_CARRIER_ONLY_2015_All.csv"
travel_2016 = "Resources/403043874_T_T100I_MARKET_US_CARRIER_ONLY_2016_All.csv"
travel_2017 = "Resources/403043874_T_T100I_MARKET_US_CARRIER_ONLY_2017_All.csv"

In [2]:
travel_2013_df = pd.read_csv(travel_2013)
travel_2013_df.head()

,PASSENGERS,UNIQUE_CARRIER,AIRLINE_ID,UNIQUE_CARRIER_NAME,ORIGIN_AIRPORT_ID,ORIGIN_CITY_MARKET_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_COUNTRY,DEST_AIRPORT_ID,DEST_CITY_MARKET_ID,DEST,DEST_CITY_NAME,DEST_COUNTRY,YEAR,QUARTER,MONTH,DISTANCE_GROUP,CLASS,Unnamed: 19
0,0.0,NC,20108,Northern Air Cargo Inc.,13061,33038,LRD,"Laredo, TX",US,14022,34022,PBC,"Puebla, Mexico",MX,2013,1,1,2,P,NaN
1,0.0,NC,20108,Northern Air Cargo Inc.,14022,34022,PBC,"Puebla, Mexico",MX,13061,33038,LRD,"Laredo, TX",US,2013,1,1,2,P,NaN
2,0.0,NC,20108,Northern Air Cargo Inc.,14022,34022,PBC,"Puebla, Mexico",MX,14730,33044,SDF,"Louisville, KY",US,2013,1,1,4,P,NaN
3,0.0,8C,19874,Air Transport International,10711,30711,BOG,"Bogota, Colombia",CO,13303,32467,MIA,"Miami, FL",US,2013,1,1,4,P,NaN
4,0.0,8C,19874,Air Transport International,13218,31565,MDE,"Medellin, Colombia",CO,13303,32467,MIA,"Miami, FL",US,2013,1,1,3,P,NaN

In [24]:
travel_2013_origin_dest_quarter_df = travel_2013_df.groupby(['ORIGIN_CITY_NAME', 'ORIGIN_COUNTRY', 'DEST_CITY_NAME', 'QUARTER'])[['PASSENGERS']].sum()
travel_2013_origin_dest_quarter_df = travel_2013_origin_dest_quarter_df.reset_index(level=['DEST_CITY_NAME', 'QUARTER', 'ORIGIN_CITY_NAME'])
travel_2013_origin_dest_quarter_df = travel_2013_origin_dest_quarter_df.sort_values('PASSENGERS', ascending=False)
#travel_2013_origin_dest_quarter_df.head(10)
travel_2013_origin_dest_quarter_df = travel_2013_origin_dest_quarter_df.loc[('US')]
travel_2013_origin_dest_quarter_df = travel_2013_origin_dest_quarter_df.reset_index().set_index('ORIGIN_CITY_NAME')
travel_2013_origin_dest_quarter_df.head(10)

,ORIGIN_COUNTRY,DEST_CITY_NAME,QUARTER,PASSENGERS
ORIGIN_CITY_NAME,,,,
"New York, NY",US,"London, United Kingdom",3,130931.0
"New York, NY",US,"London, United Kingdom",2,130073.0
"Chicago, IL",US,"London, United Kingdom",3,121551.0
"Chicago, IL",US,"London, United Kingdom",2,119493.0
"Guam, TT",US,"Tokyo, Japan",3,115948.0
"Guam, TT",US,"Tokyo, Japan",1,114945.0
"New York, NY",US,"Santiago, Dominican Republic",3,113104.0
"New York, NY",US,"London, United Kingdom",4,112612.0
"Honolulu, HI",US,"Tokyo, Japan",3,107363.0
"Honolulu, HI",US,"Tokyo, Japan",1,101408.0

In [20]:
travel_2014_df = pd.read_csv(travel_2014)
travel_2014_df.head()

,PASSENGERS,UNIQUE_CARRIER,AIRLINE_ID,UNIQUE_CARRIER_NAME,ORIGIN_AIRPORT_ID,ORIGIN_CITY_MARKET_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_COUNTRY,DEST_AIRPORT_ID,DEST_CITY_MARKET_ID,DEST,DEST_CITY_NAME,DEST_COUNTRY,YEAR,QUARTER,MONTH,DISTANCE_GROUP,CLASS,Unnamed: 19
0,0.0,5X,19917,United Parcel Service,10559,30559,BFI,"Seattle, WA",US,16229,31215,YVR,"Vancouver, Canada",CA,2014,1,1,1,G,NaN
1,0.0,5X,19917,United Parcel Service,11775,31775,FSD,"Sioux Falls, SD",US,16257,30863,YYC,"Calgary, Canada",CA,2014,1,1,2,G,NaN
2,0.0,5X,19917,United Parcel Service,13487,31650,MSP,"Minneapolis, MN",US,16232,36232,YWG,"Winnipeg, Canada",CA,2014,1,1,1,G,NaN
3,0.0,5X,19917,United Parcel Service,13871,33316,OMA,"Omaha, NE",US,16257,30863,YYC,"Calgary, Canada",CA,2014,1,1,3,G,NaN
4,0.0,5X,19917,United Parcel Service,14057,34057,PDX,"Portland, OR",US,16229,31215,YVR,"Vancouver, Canada",CA,2014,1,1,1,G,NaN

In [23]:
travel_2014_origin_dest_quarter_df = travel_2014_df.groupby(['ORIGIN_CITY_NAME', 'ORIGIN_COUNTRY', 'DEST_CITY_NAME', 'QUARTER'])[['PASSENGERS']].sum()
travel_2014_origin_dest_quarter_df = travel_2014_origin_dest_quarter_df.reset_index(level=['DEST_CITY_NAME', 'QUARTER', 'ORIGIN_CITY_NAME'])
travel_2014_origin_dest_quarter_df = travel_2014_origin_dest_quarter_df.sort_values('PASSENGERS', ascending=False)
travel_2014_origin_dest_quarter_df = travel_2014_origin_dest_quarter_df.loc[('US')]
travel_2014_origin_dest_quarter_df = travel_2014_origin_dest_quarter_df.reset_index().set_index('ORIGIN_CITY_NAME')
travel_2014_origin_dest_quarter_df.head(10)

,ORIGIN_COUNTRY,DEST_CITY_NAME,QUARTER,PASSENGERS
ORIGIN_CITY_NAME,,,,
"New York, NY",US,"Santo Domingo, Dominican Republic",3,118210.0
"New York, NY",US,"Santiago, Dominican Republic",3,115983.0
"New York, NY",US,"London, United Kingdom",2,115269.0
"Chicago, IL",US,"London, United Kingdom",2,109512.0
"Honolulu, HI",US,"Tokyo, Japan",3,105870.0
"Chicago, IL",US,"London, United Kingdom",3,105360.0
"Guam, TT",US,"Tokyo, Japan",1,104834.0
"New York, NY",US,"London, United Kingdom",3,104688.0
"Guam, TT",US,"Tokyo, Japan",3,104393.0
"Atlanta, GA",US,"Cancun, Mexico",2,99476.0

In [25]:
travel_2015_df = pd.read_csv(travel_2015)
travel_2015_df.head()

,PASSENGERS,UNIQUE_CARRIER,AIRLINE_ID,UNIQUE_CARRIER_NAME,ORIGIN_AIRPORT_ID,ORIGIN_CITY_MARKET_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_COUNTRY,DEST_AIRPORT_ID,DEST_CITY_MARKET_ID,DEST,DEST_CITY_NAME,DEST_COUNTRY,YEAR,QUARTER,MONTH,DISTANCE_GROUP,CLASS,Unnamed: 19
0,0.0,X9,20377.0,Omni Air International LLC,11435,31435,DUB,"Dublin, Ireland",IE,12889,32211,LAS,"Las Vegas, NV",US,2015,2,4,10,L,NaN
1,0.0,0WQ,21352.0,Avjet Corporation,10800,32575,BUR,"Burbank, CA",US,14312,34312,PVR,"Puerto Vallarta, Mexico",MX,2015,2,4,3,L,NaN
2,0.0,1YQ,21615.0,"Air Charter, Inc d/b/a Air Flamenco",14843,34819,SJU,"San Juan, PR",US,11519,34448,EIS,"Road Town, British Virgin Islands",VG,2015,2,4,1,P,NaN
3,0.0,FX,20107.0,Federal Express Corporation,10792,30792,BUF,"Buffalo, NY",US,16149,36149,YOW,"Ottawa, Canada",CA,2015,2,4,1,G,NaN
4,0.0,FX,20107.0,Federal Express Corporation,11898,31898,GFK,"Grand Forks, ND",US,16232,36232,YWG,"Winnipeg, Canada",CA,2015,2,4,1,G,NaN

In [26]:
travel_2015_origin_dest_quarter_df = travel_2015_df.groupby(['ORIGIN_CITY_NAME', 'ORIGIN_COUNTRY', 'DEST_CITY_NAME', 'QUARTER'])[['PASSENGERS']].sum()
travel_2015_origin_dest_quarter_df = travel_2015_origin_dest_quarter_df.reset_index(level=['DEST_CITY_NAME', 'QUARTER', 'ORIGIN_CITY_NAME'])
travel_2015_origin_dest_quarter_df = travel_2015_origin_dest_quarter_df.sort_values('PASSENGERS', ascending=False)
travel_2015_origin_dest_quarter_df = travel_2015_origin_dest_quarter_df.loc[('US')]
travel_2015_origin_dest_quarter_df = travel_2015_origin_dest_quarter_df.reset_index().set_index('ORIGIN_CITY_NAME')
travel_2015_origin_dest_quarter_df.head(10)

,ORIGIN_COUNTRY,DEST_CITY_NAME,QUARTER,PASSENGERS
ORIGIN_CITY_NAME,,,,
"New York, NY",US,"Santo Domingo, Dominican Republic",3,131334.0
"New York, NY",US,"Santiago, Dominican Republic",3,120779.0
"New York, NY",US,"London, United Kingdom",4,110847.0
"New York, NY",US,"Santo Domingo, Dominican Republic",4,110016.0
"Dallas/Fort Worth, TX",US,"Cancun, Mexico",2,106828.0
"New York, NY",US,"London, United Kingdom",2,105781.0
"New York, NY",US,"Santiago, Dominican Republic",4,105341.0
"Guam, TT",US,"Tokyo, Japan",3,104744.0
"Guam, TT",US,"Tokyo, Japan",1,104002.0
"New York, NY",US,"London, United Kingdom",3,103456.0

In [28]:
travel_2016_df = pd.read_csv(travel_2016)
travel_2016_df.head()

,PASSENGERS,UNIQUE_CARRIER,AIRLINE_ID,UNIQUE_CARRIER_NAME,ORIGIN_AIRPORT_ID,ORIGIN_CITY_MARKET_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_COUNTRY,DEST_AIRPORT_ID,DEST_CITY_MARKET_ID,DEST,DEST_CITY_NAME,DEST_COUNTRY,YEAR,QUARTER,MONTH,DISTANCE_GROUP,CLASS,Unnamed: 19
0,0.0,09Q,21161,"Swift Air, LLC d/b/a Eastern Air Lines d/b/a E...",10849,30849,BZN,"Bozeman, MT",US,16232,36232,YWG,"Winnipeg, Canada",CA,2016,1,1,2,L,NaN
1,0.0,09Q,21161,"Swift Air, LLC d/b/a Eastern Air Lines d/b/a E...",12197,31703,HPN,"White Plains, NY",US,16217,36083,YUL,"Montreal, Canada",CA,2016,1,1,1,L,NaN
2,0.0,09Q,21161,"Swift Air, LLC d/b/a Eastern Air Lines d/b/a E...",12197,31703,HPN,"White Plains, NY",US,16271,36106,YYZ,"Toronto, Canada",CA,2016,1,1,1,L,NaN
3,0.0,09Q,21161,"Swift Air, LLC d/b/a Eastern Air Lines d/b/a E...",13244,33244,MEM,"Memphis, TN",US,16042,36039,YEG,"Edmonton, Canada",CA,2016,1,1,4,L,NaN
4,0.0,09Q,21161,"Swift Air, LLC d/b/a Eastern Air Lines d/b/a E...",13303,32467,MIA,"Miami, FL",US,11075,31075,CMW,"Camaguey, Cuba",CU,2016,1,1,1,L,NaN

In [29]:
travel_2016_origin_dest_quarter_df = travel_2016_df.groupby(['ORIGIN_CITY_NAME', 'ORIGIN_COUNTRY', 'DEST_CITY_NAME', 'QUARTER'])[['PASSENGERS']].sum()
travel_2016_origin_dest_quarter_df = travel_2016_origin_dest_quarter_df.reset_index(level=['DEST_CITY_NAME', 'QUARTER', 'ORIGIN_CITY_NAME'])
travel_2016_origin_dest_quarter_df = travel_2016_origin_dest_quarter_df.sort_values('PASSENGERS', ascending=False)
travel_2016_origin_dest_quarter_df = travel_2016_origin_dest_quarter_df.loc[('US')]
travel_2016_origin_dest_quarter_df = travel_2016_origin_dest_quarter_df.reset_index().set_index('ORIGIN_CITY_NAME')
travel_2016_origin_dest_quarter_df.head(10)

,ORIGIN_COUNTRY,DEST_CITY_NAME,QUARTER,PASSENGERS
ORIGIN_CITY_NAME,,,,
"New York, NY",US,"Santo Domingo, Dominican Republic",3,130475.0
"Houston, TX",US,"Cancun, Mexico",2,113478.0
"New York, NY",US,"Santiago, Dominican Republic",3,113093.0
"New York, NY",US,"London, United Kingdom",4,111294.0
"New York, NY",US,"Santo Domingo, Dominican Republic",4,108986.0
"New York, NY",US,"Santo Domingo, Dominican Republic",2,108565.0
"Guam, TT",US,"Tokyo, Japan",1,105711.0
"New York, NY",US,"London, United Kingdom",2,105700.0
"Honolulu, HI",US,"Tokyo, Japan",3,105591.0
"Dallas/Fort Worth, TX",US,"Cancun, Mexico",3,105432.0

In [30]:
travel_2017_df = pd.read_csv(travel_2017)
travel_2017_df.head()

,PASSENGERS,UNIQUE_CARRIER,AIRLINE_ID,UNIQUE_CARRIER_NAME,ORIGIN_AIRPORT_ID,ORIGIN_CITY_MARKET_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_COUNTRY,DEST_AIRPORT_ID,DEST_CITY_MARKET_ID,DEST,DEST_CITY_NAME,DEST_COUNTRY,YEAR,QUARTER,MONTH,DISTANCE_GROUP,CLASS,Unnamed: 19
0,0.0,FX,20107,Federal Express Corporation,11637,31637,FAR,"Fargo, ND",US,16232,36232,YWG,"Winnipeg, Canada",CA,2017,1,1,1,G,NaN
1,0.0,FX,20107,Federal Express Corporation,12339,32337,IND,"Indianapolis, IN",US,16128,36083,YMX,"Montreal, Canada",CA,2017,1,1,2,G,NaN
2,0.0,FX,20107,Federal Express Corporation,12339,32337,IND,"Indianapolis, IN",US,16271,36106,YYZ,"Toronto, Canada",CA,2017,1,1,1,G,NaN
3,0.0,FX,20107,Federal Express Corporation,13244,33244,MEM,"Memphis, TN",US,16042,36039,YEG,"Edmonton, Canada",CA,2017,1,1,4,G,NaN
4,0.0,FX,20107,Federal Express Corporation,13244,33244,MEM,"Memphis, TN",US,16128,36083,YMX,"Montreal, Canada",CA,2017,1,1,3,G,NaN

In [31]:
travel_2017_origin_dest_quarter_df = travel_2017_df.groupby(['ORIGIN_CITY_NAME', 'ORIGIN_COUNTRY', 'DEST_CITY_NAME', 'QUARTER'])[['PASSENGERS']].sum()
travel_2017_origin_dest_quarter_df = travel_2017_origin_dest_quarter_df.reset_index(level=['DEST_CITY_NAME', 'QUARTER', 'ORIGIN_CITY_NAME'])
travel_2017_origin_dest_quarter_df = travel_2017_origin_dest_quarter_df.sort_values('PASSENGERS', ascending=False)
travel_2017_origin_dest_quarter_df = travel_2017_origin_dest_quarter_df.loc[('US')]
travel_2017_origin_dest_quarter_df = travel_2017_origin_dest_quarter_df.reset_index().set_index('ORIGIN_CITY_NAME')
travel_2017_origin_dest_quarter_df.head(10)

,ORIGIN_COUNTRY,DEST_CITY_NAME,QUARTER,PASSENGERS
ORIGIN_CITY_NAME,,,,
"New York, NY",US,"London, United Kingdom",4,126726.0
"Houston, TX",US,"Cancun, Mexico",2,126556.0
"New York, NY",US,"Santo Domingo, Dominican Republic",3,126036.0
"New York, NY",US,"London, United Kingdom",3,124175.0
"New York, NY",US,"London, United Kingdom",2,124165.0
"Honolulu, HI",US,"Tokyo, Japan",3,122221.0
"New York, NY",US,"Santiago, Dominican Republic",3,119550.0
"Chicago, IL",US,"Cancun, Mexico",1,118936.0
"New York, NY",US,"Santo Domingo, Dominican Republic",4,117690.0
"New York, NY",US,"Santo Domingo, Dominican Republic",2,115541.0